h2 {
  text-align: center;
  color: red;
  font-style: italic;
}
.Head {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.skill-header,
.exp-header {
  text-align: left;
}
.skill-container,
.exp-container {
  border: dashed coral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 10px;
}

body {
  background-color: #e6e6fa;
}

p {
  font-family: Georgia, serif;
}
